## .NET / Visual Studio
bin/
obj/
*.user
.vs/
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## NuGet
*.nupkg
*.snupkg
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/